
<div>
    <ul class="nav">
        <li>
            <NavLink style="color: goldenrod" class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> Get Pizza
            </NavLink>
        </li>
        <li>
            <NavLink style="color: goldenrod" class="nav-link" href="/myorders">
                <span class="oi oi-fire" aria-hidden="true"></span> My Orders
            </NavLink>
        </li>
        <div class="top-row pl-4 navbar navbar-dark" style="position: absolute; top: 0.25rem; left: 50%; transform: translateX(-50%)">
            <img src="/logoNoSlogan.png.png" style="height: 6.5rem;" />
        </div>
    </ul>
</div>
